.container{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: rgb(105, 101, 101);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.493) 0px 25px 20px -20px;        border: none;
    margin-bottom: 20px;
    position: fixed;
    top: 0px;
}

.name{
    margin-left: 40px;

}
.nav{
  display: flex;
  gap: 30px;
  margin-right: 40px;

}
.nav a{
   text-decoration: none;
   color: white;

}

.sideNav{
  display: none;
}

@media(max-width: 800px){
   .sideNav{
     display: block;
     /* color: blue; */

   }

   .nav a{
    display: none;

   }

   .container{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    background-color: rgb(105, 101, 101);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.493) 0px 25px 20px -20px;        border: none;
    margin-bottom: 20px;
    position: fixed;
    top: 1px;


   }


   .name{
    font-size: 14px;
    margin-left: 5px;


}

}