.container{
    /* border: 10px solid rgb(199, 49, 49); */
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* align-content; */
    padding: 20px;
    background-color: rgb(105, 101, 101);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.493) 0px 25px 20px -20px;        border: none;
    margin-bottom: 20px;
    /* position: relative ; */
    position: fixed;
}

.name{
    margin-left: 40px;



}
.nav{
  display: flex;
  gap: 30px;
  margin-right: 40px;



}
.nav a{
   text-decoration: none;
   color: white;

}

.sideNav{
  display: none;
}

@media(max-width: 800px){
   .sideNav{
     display: block;
     /* color: blue; */

   }

   .nav a{
    display: none;

   }

   .container{
     width: 100%;
     padding: 0px;
     box-shadow: rgba(0, 0, 0, 0.493) 0px 25px 20px -20px;
   }

   .name{
    font-size: 14px;
    margin-left: 5px;


}

}